$background-color_cell_active = #ebf7ff;
$background-color_cell_label = #f8f8f9;
$border_cell = 1px solid #e8eaec;

.row {
  border-bottom: $border_cell;
  box-sizing: content-box;
  display: flex;
}

.col {
  position: relative;
  flex: 1;
  display: flex;
  box-sizing: border-box;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1px;
    height: 100%;
    border-right: $border_cell;
  }

  &.col-active {
    .col-left, .col-right {
      background-color: $background-color_cell_active;
    }
  }

  .col-left {
    position: relative;
    background-color: $background-color_cell_label;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      height: 100%;
      border-right: $border_cell;
    }
  }

  .col-right {
    flex: 1;
    background-color: #fff;
    overflow: auto;
  }
}

.table-container {
  overflow: auto;
  border: $border_cell;
}

.table {
  position: relative;
}

.no-borders.table {
  border: none;
}

.no-borders {
  .row {
    border: none;
  }

  .col, .col-left {
    &:after {
      display: none;
    }
  }
}

.no-stripe {
  .col-left {
    background-color: #fff;
  }
}